body {
    background-color: darkgreen;
    color: wheat;
    font-family: verdana;
  }
  
  h1 {
    font-size: 8vw;
    margin: 2vw;
  }
  
  li.n { /* normal */
    font-size: 4vw;
    margin: 2vw;
  }

  li.i { /* important */
    color: lightcoral;
    font-size: 4vw;
    margin: 2vw;
  }

  span.i { /* important */
    color: lightcoral;
    font-weight: bold;
  }

  img.w {
    width: 40%;
    margin: 2vw;
  }